.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--input {
    border-color: transparent;
    font-size: 18px;
    line-height: 22px;
  }
  &--button {
    margin-right: 8px;
  }
}
