@mixin buttonOutlined($color) {
  background: none;
  border-color: $color;
  color: $color;
  svg {
    fill: $color;
  }
  &:hover {
    background: rgba($color, .15);
  }
  &:focus {
    background: rgba($color, .1);
  }
}

@mixin listStyle() {
  list-style: none;
  padding: 0;
  margin: 0;
}
