$mainColor: rgb(17, 80, 171);
$successColor: rgb(60, 162, 47);
$errorColor: rgb(192, 36, 47);
$textColor: #333333;
$neutralColor: #b9b9b9;
$borderCommonColor: rgb(217, 217, 217);

$defaultBtnBgColor: rgb(241, 241, 241);

$headerHeight: 48px;
$toolbarHeight: 48px;
$formulaHeight: 30px;

$infoCellWidth: 40px;
$cellWidth: 120px;
$cellBorderColor: rgb(238, 238, 238);

$infoRowHeight: 24px;


$dashboardHeaderHeight: 64px;
